@model BienesRaices.Models.MostrarPropiedadID_Result
@{
    ViewBag.Title = "ModificarPropiedad";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-lg-3 form-group">
            <label for="">Nombre de la propiedad</label>
            <input type="text" class="form-control" name="Nombre_P" value="@Model.Nombre_P" placeholder="Ingrese el nombre de la propiedad" />
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Precio de la Propiedad</label>
            <input type="text" class="form-control" name="Precio_P" value="@Model.Precio_P" placeholder="Ingrese el Precio de la Propiedad" />
        </div>
        <div class="col-lg-3 form-group">
            <label>Cantidad de Cuartos</label>
            <select class="form-control" name="Can_Cuarto_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.Can_Cuarto_P == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.Can_Cuarto_P == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.Can_Cuarto_P == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.Can_Cuarto_P == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.Can_Cuarto_P == 5)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.Can_Cuarto_P == 6)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6" selected>6</option>
                }
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label>Cantidad de Baños</label>
            <select class="form-control" name="Can_Baños_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.Can_Baños_P == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Baños_P == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Baños_P == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Baños_P == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>

                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 form-group ">
            <label>Cantidad de Garajes</label>
            <select class="form-control" name="Can_Garaje_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.Can_Garaje_P == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Garaje_P == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Garaje_P == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>

                }
                else if (Model.Can_Garaje_P == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>

                }
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label>Cargar Imagen</label>
            <input class="form-control-file border" type="file" name="name" value="" />
        </div>
        <input type="text" name="Estado_P" value="@Model.Estado_P" style="display:none">

        <div class="col-lg-3 form-group">
            <label>Categoria de la propiedad</label>
            <select class="form-control" name="Id_Categoria_P">
                <option>Seleccione una categoria</option>
                @{
                    foreach (BienesRaices.Models.MostrarCategoria_Result Categoria in this.ViewBag.CargarCategoria)
                    {
                        bool repeat = Categoria.Id_Categoria_CA == Model.Id_Categoria_CA;
                        if (repeat)
                        {
                            <option value="@Categoria.Id_Categoria_CA" selected>@Categoria.Nombre_CA</option>

                        }
                        else
                        {
                            <option value="@Categoria.Id_Categoria_CA">@Categoria.Nombre_CA</option>
                        }
                    }


                }
            </select>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-lg-5 offset-lg-5">
            <input class="btn btn-secondary" type="submit" name="name" value="Cargar" />
        </div>
    </div>


</form>


