@model BienesRaices.Models.MostrarPropiedadID_Result
@{
    ViewBag.Title = "ModificarPropiedad";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}

<form method="post">
    <div class="row">
        <div class="col-lg-3 form-group">
            <label for="">Nombre de la propiedad</label>
            <input type="text" class="form-control" name="Nombre_P" value="@Model.Nombre_P" placeholder="Ingrese el nombre de la propiedad" />
        </div>
        <div class="col-lg-3 form-group">
            <label for="">Precio de la Propiedad</label>
            <input type="text" class="form-control" name="Precio_P" value="@Model.Precio_P" placeholder="Ingrese el Precio de la Propiedad" />
        </div>
        <div class="col-lg-3 form-group">
            <label>Cantidad de Cuartos</label>
            <select class="form-control" name="Can_Cuarto_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.CanCuartos_C == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.CanCuartos_C == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.CanCuartos_C == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.CanCuartos_C == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.CanCuartos_C == 5)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5" selected>5</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                }
                else if (Model.CanCuartos_C == 6)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="6" selected>6</option>
                }
            </select>
        </div>
        <div class="col-lg-3 form-group">
            <label>Cantidad de Baños</label>
            <select class="form-control" name="Can_Baños_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.CanBanos_C == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanBanos_C == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanBanos_C == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanBanos_C == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>

                }
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3 form-group ">
            <label>Cantidad de Garajes</label>
            <select class="form-control" name="Can_Garaje_P">
                <option value="">Seleccione la cantidad</option>
                @if (Model.CanGarage_C == 1)
                {
                    <option value="1" selected>1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanGarage_C == 2)
                {
                    <option value="1">1</option>
                    <option value="2" selected>2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanGarage_C == 3)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3" selected>3</option>
                    <option value="4">4</option>

                }
                else if (Model.CanGarage_C == 4)
                {
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4" selected>4</option>

                }
            </select>
        </div>
        <input type="text" name="Estado_P" value="@Model.Estado_P" style="display:none">

        <div class="col-lg-3 form-group">
            <label>Categoria de la propiedad</label>
            <select class="form-control" name="Id_Categoria_P">
                <option>Seleccione una categoria</option>
                @{
                    foreach (BienesRaices.Models.MostrarCategoria_Result Categoria in this.ViewBag.CargarCategoria)
                    {
                        bool repeat = Categoria.Id_Categoria_CA == Model.Id_Categoria_CA;
                        if (repeat)
                        {
                            <option value="@Categoria.Id_Categoria_CA" selected>@Categoria.Nombre_CA</option>

                        }
                        else
                        {
                            <option value="@Categoria.Id_Categoria_CA">@Categoria.Nombre_CA</option>
                        }
                    }


                }
            </select>
        </div>



    </div>

    <div class="row mt-3">
        <div class="col-lg-5 offset-lg-5">
            <input class="btn btn-secondary" type="submit" name="name" value="Cargar" />
        </div>
    </div>


</form>
<button data-bs-toggle="modal" data-bs-target="#exampleModal">Mostrar Imagenes</button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                @{ foreach (BienesRaices.Models.AgregarImagenes_Result posicion in this.ViewBag.CargarImagenes)
                    {

                        <div class="card col-lg-3">
                            <div class="card-body" style="text-align:center">
                                <img src="~/images/@posicion.Ruta_I" width="100" />

                                @using (Html.BeginForm("EliminarImagen", "Propiedad", FormMethod.Post))
                                {
                                    <button id="Con" type="submit" name="Id_Imagen_I" value="@posicion.Id_Imagen_I" class="btn btn-info">Eliminar Imagen</button>
                                   <input type="text" name="idPropiedad" value="@posicion.Id_Propiedad_I" hidden>
                                }

                            </div>
                        </div>


                    }
                }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
