
@{
    ViewBag.Title = "Pedidos";
    Layout = "~/Views/Shared/_LayoutPropiedad.cshtml";
}

<div class="row">
<div class="col-lg-12">
    <table class="table">
        <tr>
            <td><strong>Nombre del interesado</strong> </td>
            <td><strong>Teléfono</strong></td>
            <td><strong>Correo</strong></td>
            <td><strong>Nombre de la Propiedad</strong></td>
            <td><strong>Categoria</strong></td>
            <td><strong>Precio</strong></td>
            <td><strong>Confirmar Venta</strong></td>
            <td><strong>Rechazar Venta</strong></td>

        </tr>
        @{ foreach (BienesRaices.Models.MuestralosPedidos_Result posicion in this.Model)
            {
                <tr>

                    <td>@posicion.NombreCompleto_CO</td>
                    <td>@posicion.Telefono_CO</td>
                    <td>@posicion.Correo_CO</td>
                    <td>@posicion.Nombre_P</td>
                    <td>@posicion.Nombre_CA</td>
                    <td>@posicion.Precio</td>

                    <td style="text-align:center">
                        @using (Html.BeginForm("PedidosVendidos", "Propiedad", FormMethod.Post))
                        {
                            <button type="submit" id="submit" name="idContacto" value="@posicion.Id_Contacto_CO">Vender</button>
                        }

                    </td>
                    <td style="text-align:center">
                        @using (Html.BeginForm("PedidosRechazados", "Propiedad", FormMethod.Post))
                        {
                            <button type="submit" id="submit" name="idContacto" value="@posicion.Id_Contacto_CO">Rechazar</button>
                        }

                    </td>


                </tr>
            } }
    </table>


</div>

    </div>