@*model List<BienesRaices.Models.MostrarTresPropiedades_Result>*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sorafcys</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    @*<link href="~/Content/CSS/Index/Index.css" rel="stylesheet" />*@
    <link href="~/Content/CSS/Index/style.css" rel="stylesheet" />
    @*FUENTES*@
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color: rgb(45, 123, 190)">
            <div class="container">
                <a class="navbar-brand" href="#">Sorafcys</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Index/Propiedades">Propiedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/anuncio1.jpg" class="d-block w-100" alt="..." style="background-image: linear-gradient(to bottom right, red, yellow)">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="animated bounceInRight" style="animation-delay: 1s;">Propiedad #1</h5>
                        <p class="animated bounceInLeft" style="animation-delay: 2s;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/anuncio2.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="animated bounceInRight" style="animation-delay: 1s;">Propiedad #2</h5>
                        <p class="animated bounceInLeft" style="animation-delay: 2s;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="~/img/anuncio3.jpg" class="d-block w-100" alt="...">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="animated bounceInRight" style="animation-delay: 1s;">Propiedad #3</h5>
                        <p class="animated bounceInLeft" style="animation-delay: 2s;">Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </header>

    <div class="container">
        <h4 class="text-center mt-5 mb-3 display-4">PROPIEDADES</h4>
    </div>

    <main>



        <div style="margin-bottom:50px"></div>

        <div class="container">
            <div class="row">
                <div class="col text-center">
                    <img src="~/img/icono1.svg" alt="Seguridad">
                    <h3 class="mt-2">Seguridad</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, aut totam. Laudantium, dolores.
                        Molestias
                        minima quasi illum pariatur, at totam in cumque aspernatur, praesentium porro vel placeat
                        voluptatibus
                        inventore
                        vero.
                    </p>
                </div>
                <div class="col text-center">
                    <img src="~/img/icono2.svg" alt="Icono Mejor Precio">
                    <h3 class="mt-2">El Mejor Precio</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, aut totam. Laudantium, dolores.
                        Molestias
                        minima quasi illum pariatur, at totam in cumque aspernatur, praesentium porro vel placeat
                        voluptatibus
                        inventore
                        vero.
                    </p>
                </div>
                <div class="col text-center">
                    <img src="~/img/icono3.svg" alt="Icono">
                    <h3 class="mt-2">A Tiempo</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto, aut totam. Laudantium, dolores.
                        Molestias
                        minima quasi illum pariatur, at totam in cumque aspernatur, praesentium porro vel placeat
                        voluptatibus
                        inventore
                        vero.
                    </p>
                </div>
            </div>
        </div>





        <div class="container">
            <h2 class="text-center mt-4 mb-5">Casas Recientes</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarCasas)
                    {


                        <div class="col-sm-4">

                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px; max-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_wc.svg" alt="icono wc">
                                                            <p>@propiedad.CanBanos_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_estacionamiento.svg" alt="icono autos">
                                                            <p>@propiedad.CanGarage_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
                                                            <p>@propiedad.CanCuartos_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            @using (Html.BeginForm("Propiedad", "Index", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn btn-warning text-white" value="@propiedad.Id_Propiedad_P">Ver Propiedad</button>
                                            }


                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    }
                }
            </div>

            <h2 class="text-center mt-4 mb-5">Casas Alquiler</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarAlquiler)
                    {


                        <div class="col-sm-4">

                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_wc.svg" alt="icono wc">
                                                            <p>@propiedad.CanBanos_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_estacionamiento.svg" alt="icono autos">
                                                            <p>@propiedad.CanGarage_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-6 col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
                                                            <p>@propiedad.CanCuartos_C</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            @using (Html.BeginForm("Propiedad", "Index", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn btn-warning text-white" value="@propiedad.Id_Propiedad_P">Ver Propiedad</button>
                                            }


                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    }
                }
            </div>

            <h2 class="text-center mt-4 mb-5">Terrenos</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarTerrenos)
                    {


                        <div class="col-sm-4">

                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">


                                            @using (Html.BeginForm("Propiedad", "Index", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn btn-warning text-white" value="@propiedad.Id_Propiedad_P">Ver Propiedad</button>
                                            }


                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>

                    }
                }
            </div>
        </div>

        <section class="imagen-contacto">
            <div class="container contenido-contacto">
                <h2>Encuentra la casa de tus sueños</h2>
                <p>
                    minima quasi illum pariatur, at totam in cumque aspernatur, praesentium porro vel placeat
                    voluptatibus
                    inventore
                </p>
                <a href="~/Index/Propiedades" class="btn btn-warning text-white">VER PROPIEDADES</a>
            </div>
        </section>


    </main>

    <div class="container">
        <div class="row">
            <h1 style="text-align:center">Búsqueda de Propiedades</h1>
            @using (Html.BeginForm("Propiedades", "Index", FormMethod.Get))
            {
                <div class="row">
                    <div class="col-lg-2 form-group">
                        <label>Categoria de la propiedad</label>
                        <select class="form-control" name="Cate" onChange="mostrar(this.value);">
                            <option>Seleccione una categoria</option>
                            @{ foreach (BienesRaices.Models.MostrarCategoria_Result Categoria in this.ViewBag.CargarCategoria)
                                {
                                    <option value="@Categoria.Id_Categoria_CA">@Categoria.Nombre_CA</option>
                                } }
                        </select>
                    </div>
                    <div class="col-lg-2 form-group" id="CanCuartos_C">
                        <label>Cantidad de Cuartos</label>
                        <select class="form-control" name="CanCuato">
                            <option value="">Seleccione la cantidad</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                        </select>
                    </div>

                    <div class="col-lg-2 form-group" id="CanBanos_C">
                        <label>Cantidad de Baños</label>
                        <select class="form-control" name="CanBano">
                            <option value="">Seleccione la cantidad</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <div class="col-lg-2 form-group " id="CanGarage_C">
                        <label>Cantidad de Garajes</label>
                        <select class="form-control" name="CanGara">
                            <option value="">Seleccione la cantidad</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </div>

                    <div class="col-lg-2 form-group ">
                        <label>Estado de la propiedad</label>
                        <select class="form-control" name="estado">
                            <option value="">Seleccione el estado</option>
                            <option value="Vendida">Vendida</option>
                            <option value="Oculto">Oculta</option>
                            <option value="Nuevo">Nueva</option>
                        </select>
                    </div>

                    <div class="col-lg-2 form-group" id="TipoMoneda_P">
                        <label>Tipo Moneda</label>
                        <select class="form-control" name="tipo" onchange="moneda(this.value)">
                            <option value="¢">Colones</option>
                            <option value="$">Dolares</option>
                        </select>
                    </div>

                    <div class="slidecontainer col-lg-2" id="Dolares">
                        <label>Precio</label>
                        <br />
                        <input type="range" name="precio02" max="20000000" value="0" step="1000000" class="slider" id="myRange">
                        <p>Precio:$ <span id="demo"></span></p>
                    </div>
                    <div class="slidecontainer col-lg-2" id="Colones">
                        <label>Precio</label>
                        <br />
                        <input type="range" name="precio02" max="20000000" value="0" step="1000000" class="slider" id="myRange1">
                        <p>Precio:¢ <span id="demo1"></span></p>
                    </div>
                    <div class="col-lg-2 form-group ">
                        <label>Provincia</label>
                        <select class="form-control" id="provincias" name="Id_Provincia_L" onchange="getCantones(this.value);">
                        </select>
                    </div>
                    <div class="col-lg-2 form-group canton">
                        <label>Cantón</label>
                        <select class="form-control" id="cantones" name="Id_Canton_L" onchange="getDistritos(this.value);">
                        </select>
                    </div>
                    <div class="col-lg-2 form-group distrito">
                        <label>Distrito</label>
                        <select class="form-control" id="distritos" name="Id_Distrito_L">
                        </select>
                    </div>

                    <div class="row">
                        <br />
                        <br />
                        <div class="col-lg-12" style="text-align:center">
                            <button type="submit" class="btn btn-info">Buscar</button>
                        </div>
                    </div>
                    <br />
                    <br />
                    <hr />
                </div>}
        </div>
    </div>


    <footer class="bg-light text-center text-white">
        <!-- Grid container -->
        <div class="container p-4 pb-0">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="btn btn-primary btn-floating m-1"
                   style="background-color: #3b5998;"
                   href="#!"
                   role="button">
                    <i class="fab fa-facebook-f"></i>
                </a>

                <!-- Twitter -->
                <a class="btn btn-primary btn-floating m-1"
                   style="background-color: #55acee;"
                   href="#!"
                   role="button">
                    <i class="fab fa-twitter"></i>
                </a>

                <!-- Google -->
                <a class="btn btn-primary btn-floating m-1"
                   style="background-color:  #77f41a ;"
                   href="#!"
                   role="button">
                    <i class="fab fa-whatsapp"></i>
                </a>

                <!-- Instagram -->
                <a class="btn btn-primary btn-floating m-1"
                   style="background-color: #ac2bac;"
                   href="#!"
                   role="button">
                    <i class="fab fa-instagram"></i>
                </a>
            </section>
            <!-- Section: Social media -->
        </div>
        <!-- Grid container -->
        <!-- Copyright -->
        <div class="text-center p-3" style=" background-color: rgb(45, 123, 190);">
            © 2020 Copyright:
            <a class="text-white" href="">Sorafcys</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>
</html>