@model BienesRaices.Models.MostrarPropiedadID_Result
@{
    ViewBag.Title = "Propiedad";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}
<div class="row">
    <div class="col-lg-12" style="text-align:center">
        <h1>Contacto</h1>
    </div>
    <div class="col-lg-3">
        <h3>@Model.Nombre_P</h3>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">

                    <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
                        @*Acomodar o borrar porque no siempre van a ser 3 img*@
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
                            <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
                        </div>
                        <div class="carousel-inner">
                            @{
                                int i = 0;
                                foreach (BienesRaices.Models.MostrarCarruoselPropiedad_Result imagen in this.ViewBag.CargarImagenes)
                                {
                                    i++;
                                    var active = i == 1 ? "active" : "";
                                    <div class="carousel-item @active" data-bs-interval="10000">
                                        <img src="~/images/@imagen.Ruta_I" class=" w-100" style="max-height: 250px" alt="...">
                                    </div>
                                }
                            }
                        </div>

                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <p>Precio:@Model.Precio</p>
        <p>Tipo: @Model.Nombre_CA</p>
        <i class="fas fa-bed">@Model.CanCuartos_C</i>
        <i class="fas fa-warehouse">@Model.CanGarage_C</i>
        <i class="fas fa-toilet">@Model.CanBanos_C</i>
    </div>
    <div class="col-lg-9">
        <form method="post">
            <div class="form-group">
                <label for="">Nombre Completo</label>
                <input type="text" class="form-control" autocomplete="off" name="NombreCompleto_CO" value="" placeholder="Ingrese su nombre completo" />
            </div>
            <div class="form-group">
                <label for="">Teléfono</label>
                <input type="text" class="form-control" name="Telefono_CO" value="" placeholder="Ingrese su teléfono" />
            </div>
            <div class="form-group">
                <label for="">Correo Electronico</label>
                <input type="email" class="form-control" name="Correo_CO" value="" placeholder="Ingrese su correo Electronico " />
            </div>
            <div class="form-group">
                <label for="">Comentarios</label>
                <br />
                <textarea  class="form-control" name="Comentario_CO" rows="4" ></textarea>
            </div>
            <br />
            <button type="submit" value="@Model.Id_Propiedad_P"class="btn btn-info" name="idPropiedad">Consultar Propiedad</button>

        </form>
    </div>
           


</div>

