
@{
    Layout = null;

    string urlMetodoFormulario = Url.Action("VerificaLogin", "Login");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="~/Content/CSS/Login/Login.css" rel="stylesheet" />


    <title>Login</title>
</head>
<body>
    


        <div class="wrapper fadeInDown">
            <div id="formContent">
                <!-- Tabs Titles -->
                <!-- Icon -->
                <div class="fadeIn first">
                    <img src="~/img/header.jpg" id="icon" alt="Bienes Raíces" />
                </div>

                <!-- Login Form -->
                <form  action="@urlMetodoFormulario" method="post">
                    <input type="text" id="Usuario_CR" class="fadeIn second" name="Usuario_CR" placeholder="Usuario">
                    <input type="text" id="Contrasena_CR" class="fadeIn third" name="Contrasena_CR" placeholder="Contraseña">
                    <input type="submit" class="fadeIn fourth" value="Log In">

                    @Html.ValidationSummary(true)
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    @*<a class="underlineHover" href="#">Forgot Password?</a>*@
                </div>

            </div>
        </div>

    @*<form action="@urlMetodoFormulario" method="post">


        <h2>Inicio Sesión</h2>

        <div>
            <label>Usuario</label>
            <input type="text" id="Usuario_CR" name="Usuario_CR" placeholder="Usuario" />
        </div>

        <div>
            <label>Contraseña</label>
            <input type="text" id="Contrasena_CR" name="Contrasena_CR" placeholder="Contraseña" />
        </div>

        <div>
            <button type="submit">Ingresar</button>
        </div>


        @Html.ValidationSummary(true)
    </form>*@

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

</body>
</html>
