@{ 
    BienesRaices.Models.RetornaUsuarioCorreoPwd_Result modelo = (BienesRaices.Models.RetornaUsuarioCorreoPwd_Result)this.Session["datosUsuario"];

    string urlLogin = this.Url.Action("Login", "Login");

    string urlCierraSesion = this.Url.Action("CerrarSesion", "Login");

    bool sesionIniciada = false;

    if (this.Session["logueado"] != null)
    {
        sesionIniciada = Convert.ToBoolean(this.Session["logueado"]);
    }
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @* Link CSS DE BOOTSTRAP 5 *@
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


    @Scripts.Render("~/bundles/modernizr")


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Tenth navbar example">
        <div class="container-fluid">
            <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample08" aria-controls="navbarsExample08" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="navbar-collapse justify-content-md-start collapse" id="navbarsExample08" style="">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Bienes Raices <span class="glyphicon glyphicon-user"></span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1">Ingresar Propiedad</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" tabindex="-1">Mantenimientos</a>
                    </li>
                </ul>
            </div>


            <div class="navbar-collapse justify-content-md-end collapse" id="navbarsExample08" style="">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link" href="#">Pedidos</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="dropdown08" data-bs-toggle="dropdown" aria-expanded="false">Reportes</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdown08">
                            <li><a class="dropdown-item" href="#">x</a></li>
                            <li><a class="dropdown-item" href="#">y</a></li>
                            <li><a class="dropdown-item" href="#">z</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="" href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Cerrar Sesión</a>
                    </li>

                    @{
                        if (sesionIniciada == true)
                        {
                            //Comprueba si es administrador o cliente
                            @*if (modelo.Id_TipoUsuario_S == 1)
                                {
                                    <li>@Html.ActionLink("Atender", "#", "#")</li>
                                }
                                <li><a id="lnkCerrarSesion" href="#">Salir</a></li>*@
                        }
                    }

                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        @{ if (sesionIniciada == true)
            {
                @RenderBody() }
            else
            {
                this.Response.Redirect(urlLogin);
            }
        }
    </div>


    @using (Html.BeginForm("CerrarSesion", "Login", FormMethod.Post))
    {
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Cerrar Sesión</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        ¿Está seguro que quiere cerrar la sesión?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Salir</button>

                    </div>
                </div>
            </div>
        </div>
        <!--Fin Modal-->
    }



    @* Link SCRIPT DE BOOTSTRAP 5 *@
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


    @RenderSection("scripts", required: false)

</body>
</html>
