@*model List<BienesRaices.Models.MostrarTresPropiedades_Result>*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sarafcys</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">
    @*<link href="~/Content/CSS/Index/Index.css" rel="stylesheet" />*@
    <link href="~/Content/CSS/Index/style.css" rel="stylesheet" />
    @*FUENTES*@
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
    <script src="~/Scripts/ApiProvincias.js"></script>
</head>

<body>

    <header>

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:#E0FFFF">
            <div class="container">
                <a class="navbar-brand" href="/Home/Index"><img style="width: 300px" src="~/img/Logos/Logo.png" alt="Alternate Text" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#nosotros">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="~/Home/Propiedades">Propiedades</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contact">Contacto</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>


        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/img/Logos/6.jpg" class="d-block w-100" alt="..." style="height: 100%">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Logos/2.jpg" class="d-block w-100" style="height: 100%" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/img/Logos/1.jpg" class="d-block w-100" style="height: 100%" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

    </header>

    <div class="container" id="nosotros">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center mt-5 mb-3">¿Quiénes somos?</h4>
                <p>Bienes Raíces SARAFCYS es una empresa ubicada en Costa Rica, 
                San Jose, Puriscal. Con esfuerzo y profesionalismo hemos logrado posicionarnos en el mercado 
                inmobiliario, contamos con más de 3 años en el mercado. Comercializamos y negociamos propiedades 
                en varios lugares del país.</p>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-center mt-5 mb-3 display-6"></h4>
            </div>
        </div>
    </div>

    <main>



        <div style="margin-bottom:50px"></div>

        <div class="container">
            <div class="row">
                <div class="col-lg-4 shadow">
                    <div class="col text-center">
                        @*<img src="~/img/icono1.svg" alt="Seguridad">*@
                        <h3 class="mt-2">Misión</h3>
                        <p>
                            La misión de Bienes Raíces SARAFCYS es la administración de inmuebles para compra, venta,
                            renta al mejor precio razonable del mercado, brindando un servicio de calidad, con intermediación
                            profesional y transparente, proporcionando asesoría honesta y siempre resguardando los intereses y
                            patrimonio de nuestros clientes.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 shadow">
                    <div class="col text-center">
                        @*<img src="~/img/icono2.svg" alt="Icono Mejor Precio">*@
                        <h3 class="mt-2">Visión</h3>
                        <p>
                            Apoyar a nuestros clientes en el proceso integral de vender, comprar y alquilar su vivienda,
                            lote, finca, local, que se ajuste a su presupuesto y preferencia.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 shadow">
                    <div class="col text-center">
                        @*<img src="~/img/icono3.svg" alt="Icono">*@
                        <h3 class="mt-2">Servicios agregados de valor</h3>
                        <p>
                            Ofrecemos asesoramiento financiero y bancario en los trámites de créditos para la compra de las propiedades.
                        </p>
                    </div>
                </div>
            </div>
        </div>





        <div class="container">
            <h2 class="text-center mt-4 mb-5">Casas Recientes</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarCasas)
                    {
                        <div class="col-sm-4">

                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px; max-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_wc.svg" alt="icono wc">
                                                            @if (@propiedad.CanBanos_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanBanos_C</p>
                                                            }

                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_estacionamiento.svg" alt="icono autos">
                                                            
                                                            @if (@propiedad.CanGarage_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanGarage_C</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
                                                            
                                                            @if (@propiedad.CanCuartos_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanCuartos_C</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            @using (Html.BeginForm("Propiedad", "Home", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn boton text-black" value="@propiedad.Id_Propiedad_P" style="background-color: #E0FFFF">Ver Propiedad</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <h2 class="text-center mt-4 mb-5">Casas Alquiler</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarAlquiler)
                    {

                        <div class="col-sm-4">

                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">
                                            <div class="row">
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_wc.svg" alt="icono wc">
                                                            @if (propiedad.CanBanos_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanBanos_C</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_estacionamiento.svg" alt="icono autos">
                                                            @if (propiedad.CanGarage_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanGarage_C</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col col-md-4">
                                                    <ul class="iconos-caracteristicas">
                                                        <li>
                                                            <img src="~/img/icono_dormitorio.svg" alt="icono habitaciones">
                                                            @if (propiedad.CanCuartos_C == 0)
                                                            {
                                                                <p>0</p>
                                                            }
                                                            else
                                                            {
                                                                <p>@propiedad.CanCuartos_C</p>
                                                            }
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            @using (Html.BeginForm("Propiedad", "Home", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn boton text-black" value="@propiedad.Id_Propiedad_P" style="background-color: #E0FFFF">Ver Propiedad</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <h2 class="text-center mt-4 mb-5">Terrenos</h2>
            <div class="row">
                @{
                    foreach (BienesRaices.Models.MostrarTresPropiedades_Result propiedad in this.ViewBag.MostrarTerrenos)
                    {  
                        <div class="col-sm-4">
                            <div class="card-deck">
                                <div class="card">
                                    @*FALTA LLAMAR LA IMG*@
                                    <img src="~/images/@propiedad.Ruta_I" class="card-img-top" style="min-height: 250px" alt="Imagen Propiedad">
                                    <div class="card-body text-center">

                                        <h3>@propiedad.Nombre_P</h3>
                                        <p>@propiedad.Descripcion_P</p>
                                        <p class="text-muted">@propiedad.Precio_P</p>

                                        <div class="container">

                                            @using (Html.BeginForm("Propiedad", "Home", FormMethod.Get))
                                            {
                                                <button id="Con" type="submit" name="idPropiedad" class="btn boton text-black" value="@propiedad.Id_Propiedad_P" style="background-color: #E0FFFF">Ver Propiedad</button>
                                            }

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

        <br />

        <section class="imagen-contacto">
            <div class="container contenido-contacto">
                @*<p style="color:#000">
                    Porque una decisión tan importante, debe ser tomada con sabiduría y experiencia dejenos guiarle somos Bienes Raíces.
                </p>*@
                <a href="~/Home/Propiedades" class="btn boton text-black" style="
    background-color: #E0FFFF;">VER PROPIEDADES</a>
            </div>
        </section>


    </main>

    <div class="container" id="contact">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js" type="text/javascript"></script>
        <script src="~/Scripts/ApiProvincias.js"></script>
        <style>
            .canton,
            .distrito {
                display: none;
            }

            .Oferta {
                position: absolute;
                right: 10px;
                top: 50px;
            }

            .color {
                border-color: goldenrod;
            }

            hr {
                border: 4px solid darkgoldenrod;
            }
        </style>

        <div class="row">
            <h2 style="margin: 25px 0px" class="text-center">Búsqueda de Propiedades</h2>
            @using (Html.BeginForm("Propiedades", "Home", FormMethod.Get))

            {
        <div class="row">
            <div class="col-lg-2 form-group">
                <label>Categoria propiedad</label>
                <select class="form-control" name="Cate" onChange="mostrar(this.value);">
                    <option>Seleccione una categoria</option>
                    @{ foreach (BienesRaices.Models.MostrarCategoria_Result Categoria in this.ViewBag.CargarCategoria)
                        {
                            <option value="@Categoria.Id_Categoria_CA">@Categoria.Nombre_CA</option>

                        }
                    }
                </select>
            </div>
            <div class="col-lg-2 form-group" id="CanCuartos_C">
                <label>Cantidad de Habitaciones</label>
                <select class="form-control" name="CanCuato">
                    <option value="">Seleccione la cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            </div>

            <div class="col-lg-2 form-group" id="CanBanos_C">
                <label>Cantidad de Baños</label>
                <select class="form-control" name="CanBano">
                    <option value="">Seleccione la cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>

            <div class="col-lg-2 form-group " id="CanGarage_C">
                <label>Cantidad de Garajes</label>
                <select class="form-control" name="CanGara">
                    <option value="">Seleccione la cantidad</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                </select>
            </div>


            <div class="col-lg-2 form-group" id="TipoMoneda_P">
                <label>Tipo Moneda</label>
                <select class="form-control" name="tipo" onchange="moneda(this.value)">
                    <option value="">Seleccione la Moneda</option>
                    <option value="¢">Colones</option>
                    <option value="$">Dolares</option>
                </select>
            </div>

            <div class="col-lg-2 form-group Colones">
                <label>Precio Inicial</label>
                <select name="precio02" size="1" class="form-control">
                    <option value="0" selected>Seleccione un precio</option>
                    <option value="1000000">1,000,000</option>
                    <option value="2000000">2,000,000</option>
                    <option value="3000000">3,000,000</option>
                    <option value="4000000">4,000,000</option>
                    <option value="5000000">5,000,000</option>
                    <option value="6000000">6,000,000</option>
                    <option value="7000000">7,000,000</option>
                    <option value="8000000">8,000,000</option>
                    <option value="9000000">9,000,000</option>
                    <option value="10000000">10,000,000</option>
                    <option value="20000000">20,000,000</option>
                    <option value="30000000">30,000,000</option>
                    <option value="40000000">40,000,000</option>
                    <option value="50000000">50,000,000</option>
                    <option value="60000000">60,000,000</option>
                    <option value="70000000">70,000,000</option>
                    <option value="80000000">80,000,000</option>
                    <option value="90000000">90,000,000</option>
                    <option value="100000000">100,000,000</option>
                    <option value="200000000">200,000,000</option>
                    <option value="300000000">300,000,000</option>
                    <option value="400000000">400,000,000</option>
                    <option value="500000000">500,000,000</option>
                    <option value="600000000">600,000,000</option>
                    <option value="700000000">700,000,000</option>
                    <option value="800000000">800,000,000</option>
                    <option value="900000000">900,000,000</option>
                    <option value="1000000000">1,000,000,000</option>

                </select>
            </div>
            <div class="col-lg-2 form-group Colones">
                <label>Precio Final</label>
                <select name="precio03" size="1" class="form-control">
                    <option value="0" selected>Seleccione un precio</option>
                    <option value="1000000">1,000,000</option>
                    <option value="2000000">2,000,000</option>
                    <option value="3000000">3,000,000</option>
                    <option value="4000000">4,000,000</option>
                    <option value="5000000">5,000,000</option>
                    <option value="6000000">6,000,000</option>
                    <option value="7000000">7,000,000</option>
                    <option value="8000000">8,000,000</option>
                    <option value="9000000">9,000,000</option>
                    <option value="10000000">10,000,000</option>
                    <option value="20000000">20,000,000</option>
                    <option value="30000000">30,000,000</option>
                    <option value="40000000">40,000,000</option>
                    <option value="50000000">50,000,000</option>
                    <option value="60000000">60,000,000</option>
                    <option value="70000000">70,000,000</option>
                    <option value="80000000">80,000,000</option>
                    <option value="90000000">90,000,000</option>
                    <option value="100000000">100,000,000</option>
                    <option value="200000000">200,000,000</option>
                    <option value="300000000">300,000,000</option>
                    <option value="400000000">400,000,000</option>
                    <option value="500000000">500,000,000</option>
                    <option value="600000000">600,000,000</option>
                    <option value="700000000">700,000,000</option>
                    <option value="800000000">800,000,000</option>
                    <option value="900000000">900,000,000</option>
                    <option value="1000000000">1,000,000,000</option>
                </select>
            </div>
            <div class="col-lg-2 form-group Dolares">
                <label>Precio Inicial</label>
                <select name="precio0" size="1" class="form-control">
                    <option value="0">Seleccione un precio</option>
                    <option value="1000">1,000</option>
                    <option value="2000">2,000</option>
                    <option value="3000">3,000</option>
                    <option value="4000">4,000</option>
                    <option value="5000">5,000</option>
                    <option value="6000">6,000</option>
                    <option value="7000">7,000</option>
                    <option value="8000">8,000</option>
                    <option value="9000">9,000</option>
                    <option value="10000">10,000</option>
                    <option value="20000">20,000</option>
                    <option value="30000">30,000</option>
                    <option value="40000">40,000</option>
                    <option value="50000">50,000</option>
                    <option value="60000">60,000</option>
                    <option value="70000">70,000</option>
                    <option value="80000">80,000</option>
                    <option value="90000">90,000</option>
                    <option value="100000">100,000</option>
                    <option value="200000">200,000</option>
                    <option value="300000">300,000</option>
                    <option value="400000">400,000</option>
                    <option value="500000">500,000</option>
                    <option value="600000">600,000</option>
                    <option value="700000">700,000</option>
                    <option value="800000">800,000</option>
                    <option value="900000">900,000</option>
                    <option value="1000000">1,000,000</option>
                    <option value="2000000">2,000,000</option>

                </select>
            </div>
            <div class="col-lg-2 form-group Dolares">
                <label>Precio Final</label>
                <select name="precio01" size="1" class="form-control">
                    <option value="0">Seleccione un precio</option>
                    <option value="1000">1,000</option>
                    <option value="2000">2,000</option>
                    <option value="3000">3,000</option>
                    <option value="4000">4,000</option>
                    <option value="5000">5,000</option>
                    <option value="6000">6,000</option>
                    <option value="7000">7,000</option>
                    <option value="8000">8,000</option>
                    <option value="9000">9,000</option>
                    <option value="10000">10,000</option>
                    <option value="20000">20,000</option>
                    <option value="30000">30,000</option>
                    <option value="40000">40,000</option>
                    <option value="50000">50,000</option>
                    <option value="60000">60,000</option>
                    <option value="70000">70,000</option>
                    <option value="80000">80,000</option>
                    <option value="90000">90,000</option>
                    <option value="100000">100,000</option>
                    <option value="200000">200,000</option>
                    <option value="300000">300,000</option>
                    <option value="400000">400,000</option>
                    <option value="500000">500,000</option>
                    <option value="600000">600,000</option>
                    <option value="700000">700,000</option>
                    <option value="800000">800,000</option>
                    <option value="900000">900,000</option>
                    <option value="1000000">1,000,000</option>
                    <option value="2000000">2,000,000</option>
                </select>
            </div>
            <div class="col-lg-2 form-group ">
                <label>Provincia</label>
                <select class="form-control" id="provincias" name="Id_Provincia_L" onchange="getCantones(this.value);">
                </select>
            </div>
            <div class="col-lg-2 form-group canton">
                <label>Cantón</label>
                <select class="form-control" id="cantones" name="Id_Canton_L" onchange="getDistritos(this.value);">
                </select>
            </div>
            <div class="col-lg-2 form-group distrito">
                <label>Distrito</label>
                <select class="form-control" id="distritos" name="Id_Distrito_L">
                </select>
            </div>

            <div class="">
                <br />
                <br />
                <div class="col-lg-12 form-group " style="text-align:center">
                    <button type="submit" class="btn btn-info">Buscar</button>
                </div>
            </div>
            <br />
            <br />
            <hr />
        </div>
            }
        </div>
    </div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3cOQNB4cQjQDSGWiB_nT2H2pEOuD3w60&callback=initMap" async defer></script>
    <script>
        $(document).ready(function () {
            $(".Dolares").hide();
            $(".Colones").hide();
        });
        const formatter = new Intl.NumberFormat({
            style: 'currency',
            currency: '',
            minimumFractionDigits: 0
        })

        var slider = document.getElementById("myRange");
        var output = document.getElementById("demo");
        output.innerHTML = slider.value;

        slider.oninput = function () {
            output.innerHTML = formatter.format(this.value);

        }

        const formatters = new Intl.NumberFormat({
            style: 'currency',
            currency: '',
            minimumFractionDigits: 0
        })

        var slider1 = document.getElementById("myRange1");
        var output1 = document.getElementById("demo1");
        output1.innerHTML = slider1.value;

        slider1.oninput = function () {
            output1.innerHTML = formatters.format(this.value);

        }
        function moneda(id) {
            if (id == "¢") {
                $(".Colones").show();
                $(".Dolares").hide();
            }
            if (id == "$") {
                $(".Colones").hide();
                $(".Dolares").show();
            }
        }
    </script>
    <footer class="site-footer">
        <div class="contenedor clearfix container">
            <div class="row">
                <div class="footer-informacion col-lg-8">
                    <h3>Sobre <span>Sarafcys</span></h3>
                    <p>
                        Somos una empresa que brindamos servicios de intermediación de venta de
                        propiedades, las más comunes son viviendas, lotes, fincas, locales comerciales,
                        viviendas y apartamentos de alquiler. También ofrecemos servicios de
                        intermediación en alquileres de viviendas, apartamentos y locales comerciales.

                    </p>
                </div>
                <div class="menu col-lg-4">
                    <h3>Redes <span>sociales</span></h3>
                    <nav class="redes-sociales ">
                        <a target="_blank" href="https://www.facebook.com/Bienes-Ra%C3%ADces-Sarafcys-101331108726582"><i class="fab fa-facebook-f" aria-hidden="true"></i></a>
                        <a target="_blank" href="https://wa.link/w5z4qi"><i class="fab fa-whatsapp" aria-hidden="true"></i></a>
                        <a target="_blank" href="mailto:info@bienesraicessarafcys.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col col-lg-4">
                    <p>+506 87809574</p>
                    <p>info@bienesraicessarafcys.com</p>
                </div>
            </div>
        </div>

        <p class="copyright">
            Todos los derechos Reservados Sarafcys.
        </p>

    </footer>

</body>
</html>